development:
  adapter: mysql2
  database: grpc_example
  pool: 5
  timeout: 5000
  username: root
  password:
  collation: utf8mb4_general_ci

test:
  adapter: mysql2
  database: grpc_example
  pool: 5
  timeout: 5000
  username: root
  password:
  collation: utf8mb4_general_ci

production:
  adapter: mysql2
  encoding: utf8
  database: grpc_example
  pool: 5
  timeout: 5000
  username: root
  password:
  collation: utf8mb4_general_ci
